<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dashboard</title>
		<link href="../static/css/main.css" rel="stylesheet" />
        <script src="../static/js/jquery-3.5.1.min.js"></script>
		<script src="../static/js/echarts.min.js"></script>
	</head>
	<body>
		<div id="title">Mortgage Dashboard</div>
		<div id="tim"><h2></h2></div>
		<div id="l1"></div>
		<div id="r1"></div>
		<div id="c1"></div>
		<script src="../static/js/ec_l1.js"></script>
        <script src="../static/js/ec_r1.js"></script>
		<script src="../static/js/ec_c1.js"></script>
		<script src="../static/js/controller.js"></script>
	</body>
</html>
